<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Tablas y vistas</title>
    <style>
        table {
            width: 80%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 5px;
            text-align: left;
        }
        th:nth-child(-n+3), td:nth-child(-n+3) {
            width: 15%;
        }
        th:nth-child(4), td:nth-child(4) {
            width: 55%;
        }
    </style>
</head>
<body>
<h3>Diccionario de datos</h3>
<th:block th:each="entry : ${tablas}">
    <h3 th:text="${'Base de datos : ' + entry.key}"></h3>
    <th:block th:each="tabla : ${entry.value}">
        <table>
            <tr>
                <td colspan="4" th:text="${entry.key + '.' + tabla.nombre + ' (' + tabla.tipo + ')'}"></td>
            </tr>
            <tr>
                <th>Campo</th>
                <th>Tipo</th>
                <th>Longitud</th>
                <th>Descripción</th>
            </tr>
            <tr th:each="campo : ${tabla.campos}">
                <td th:text="${campo.nombre}"></td>
                <td th:text="${campo.tipo}"></td>
                <td th:text="${campo.longitud}"></td>
                <td th:text="${campo.descripcion}"></td>
            </tr>
        </table>
        <br>
    </th:block>
</th:block>
</body>
</html>